/* Importing Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Footer */

.footer {
    background-color: #1d1c1c; 
    color: #c84141; 
}
.footer-a {
    color: yellow; 
    text-align: center;
    display: block; 
    margin: 0 10px;
    font-family: "Rock Salt", cursive;
}
.footer-a:hover {
    color: yellow; 
}

.footer-text {
  font-family: rubik, sans-serif;
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.container-before-footer {
  margin-bottom: 200px; 
}

/* Nav Bar */
.navbar {
    background-color: rgb(30, 30, 30) !important; 
    position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1030; 
}

.navbar-brand, .navbar-nav .nav-link {
    color: rgb(186, 184, 184) !important; 
}

.navbar .dropdown-menu {
    background-color: black;
}

.navbar .dropdown-item {
    color: yellow;
}


.video-background {
  position: fixed; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; 
  background-size: cover;
}
.content {
  position: relative;
  z-index: 100;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 100px;
  }
  
  
@font-face {
    font-family: 'amazdoomright'; 
    src: url('./fonts/amazdoomright.ttf') format('truetype'); 
}

.coming-italic {
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 5rem;
    -webkit-text-stroke: 0.05px rgb(12, 11, 11);
    font-style: italic;
    font-family: "Rock Salt", cursive;
}

.btn-danger {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

.bg-container {
  background-color: rgb(30, 30, 30); 
    color: white; /* Setează culoarea textului la alb, dacă ai text în interiorul container-ului */
    padding: 400px; /* Adaugă spațiu în interiorul container-ului */
   margin-top: 50px;
}

#scroll-container {
  position: relative;
  overflow: hidden;
}

.slide {
  position: fixed;
  will-change: transform; /* Optimizare pentru animație */
}

/*Start of OUR STORY page*/

.full-height {
    min-height: 100vh;; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
  }
  
  .full-height .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @media (min-width: 992px) { 
    .full-height .col-lg-6 {
      flex: 0 0 50%; 
      max-width: 50%;
    }
  }
  
  .full-height video {
    height: 100vh;
    width: 100%;
    object-fit: cover; 
  }

  .scroll-down {
    font-family: "Rock Salt", cursive;
    color: red;
    margin-top: 100px;
  }

  .container-first {
    margin-bottom: -10px;
  }
  .carousel-slide {
    margin-right: -15px;
    margin-left: -70px;
  }

  .background2 {
    background-color: #1d1c1c;
  }
  
  .our-story-heading-text {
    color: white;
    margin-top: 200px;
  }
  
  .our-story-body-text {
    color: white;
    margin-bottom: 60px;
  }

  .bg-custom-purple {
    background-color: #B18DD4;
    margin-bottom: -20px;
  }
  .bg-custom-grey {
    background-color: #1d1c1c;
  }
  
  .our-story-heading-text-button{
    background-color: yellow !important; 
    border-color: black;
  }

  .our-story-heading-text-button {
    color: black;
  }

.navbar-light .navbar-nav .nav-link {
  color: yellow !important;
  font-family: "Rubik", sans-serif;
}

.container-our-vision {
  padding: 100px;
}
.vision-title {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  position: relative; 


}
.vision-text {
  font-family: "Rock Salt", cursive;
  font-weight: 600;
  font-size:xx-large;
  font-style: normal;
  color: #B18DD4;
  margin-top: 80px;
  position: relative; 
}

.our-values-title {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  position: relative; 
  margin-bottom: 50px;
  margin-top: 50px;
}

.click-buttons {
  font-family: "Rock Salt", cursive;
    color: yellow;
}
/* popover */

.container-popover {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.popover-header {
background-color: black;
}
/* Butonul standard roșu */
.btn-danger:hover {
  background-color: yellow; 
  color: #1d1c1c;
}

/* Butonul personalizat mov */
.popover-purple:hover {
  background-color: yellow !important; 
  border-color: #563d7c; 
  color: #1d1c1c;
}
.popover-body-purple {
  background-color: #B18DD4 !important; /* Culoarea pentru fundalul mov */
}

.popover-body-red {
  background-color: #c84141 !important; /* Culoarea pentru fundalul roșu */
}

/*About Us carousel*/
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-inner {
  height: 500px; 
  margin-bottom: 80px;
}

.carousel-item {
  height: 100%;
}

