/* Importing Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');


html, body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Footer */

.footer {
    background-color: #1d1c1c; 
    color: #c84141; 
}
.footer-a {
    color: #edf11a; 
    text-align: center;
    display: block; 
    margin: 0 10px;
    font-family: "Rock Salt", cursive;
}
.footer-a:hover {
    color: #edf11a; 
}

.footer-text {
  font-family: "MedievalSharp", cursive;
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.container-before-footer {
  margin-bottom: 200px; 
}

/* Nav Bar */
.navbar {
    background-color: rgb(30, 30, 30) !important; 
    position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1030; 
  display: flex;
  justify-content: space-between;
}

.navbar-brand, .navbar-nav .nav-link {
    color: rgb(186, 184, 184) !important; 
}

.navbar .dropdown-menu {
    background-color: black;
}

.navbar .dropdown-item {
    color: #edf11a;
}
.btn-outline-success {
  color: #edf11a; 
  border-color: #c84141; 
  font-family: "Rock Salt", cursive !important;
}
.btn-outline-success:hover {
  background-color: #B18DD4 !important; 
  border-color: #B18DD4 !important; 
}

.video-background {
  position: fixed; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; 
  background-size: cover;
}
.content {
  position: relative;
  z-index: 100;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 100px;
  }
.bg-grey {
  background-color:#1d1c1c;
}
.btn-primary-landing {
  position: absolute;
  left: 50%; /* centrează orizontal */
  bottom: 300px; /* mărește această valoare pentru a muta butonul mai sus */
  transform: translateX(-50%);
  width: 400px;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  font-size:x-large;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-content {
  position: relative;
  height: 990px; /* Setează înălțimea dorită */
  overflow: hidden;
  z-index: 1; /* Asigură-te că restul conținutului este peste videoclip */
}

#myVideo {
  width: 100vw; /* viewport width */
  height: 56.25vw; /* 16:9 Aspect Ratio (divide by 9 and multiply by 16) */
  max-height: 100vh;
  object-fit: cover;
  position: absolute; /* Positioning it absolutely */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the video */
  margin-top: -20px;
}

/* Make adjustments for small devices */
@media (max-width: 767px) {
  .container-content .btn {
    width: auto; /* Adjust the button width as needed */
    font-size: smaller; /* Adjust the font size for small devices */
  }
}
/* Rules for screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
  .img-size, .img-fluid.img-size-desktop {
    height: auto; /* Maintains aspect ratio */
    margin: 0 auto; /* Centers the image */
  }
  @media (min-width: 992px) { 
    .img-size-desktop {
      max-width: 100%; /* This allows the image to be as wide as its container */
    }
  }
  

  /* Ensure that both columns take the full width on mobile for stacking */
  .container-fluid-features .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (min-width: 992px) { 
  .img-size {
    max-width: 150%; /* sau orice altă valoare mai mare decât 35% sau 50% */
    margin-left: -100px;
  }
}
@media (min-width: 992px) { 
  .img-size1 {
    max-width: 200%; /* sau orice altă valoare mai mare decât 35% sau 50% */
    margin-right: 50%;
  }
}

  @media (max-width: 768px) {
    .center-custom {
      text-align: center;
    }
  
    }
    .text-column-mobile {
      order: 2;
    }
    @media (max-width: 767px) {
      /* Stiluri pentru telefoane */
      .row.flex-column-reverse-mobile {
        flex-direction: column-reverse; /* Așează textul deasupra și imaginea dedesubt */
      }
    }
   
    
    @media (min-width: 992px) {
      .img-fluid.img-size-desktop {
        max-width: 80%; /* Mărit față de 60% pentru a face imaginea mai mare */
        height: auto; /* Menține proporțiile imaginii */
        margin: 0 auto; /* Centrează imaginea */
        display: block; /* Necesar pentru a permite margin:auto să funcționeze */
      }
      
      /* Ajustează textul pentru desktop, dacă este necesar */
      .text-column-desktop {
        text-align: center; /* Centrarea textului dacă este necesar */
      }
    }

/* Reguli media existente pentru mobile */
@media (max-width: 768px) {
  /* Stilurile pentru dispozitive mobile rămân neschimbate */
  h2, p {
    text-align: center; /* Centrarea textului pe telefon */
  }
}
@media (min-width: 992px) { 
  .center-block {
    display: block;  /* Use 'block' to enable margin auto */
    margin-left: auto;
    margin-right: auto;
  }

  /* Adjust the padding or margin as needed to move the text further to the right if needed */
  .text-column-desktop {
    padding-left: 60px; /* Or adjust as needed */
  }
}
@media (min-width: 768px) {
  /* Adjust the column size for larger devices to give more space to the image */
  .text-md-center {
    flex: 0 0 66.666667%; /* Adjust the column width. Example: 66.6% for 8 out of 12 columns */
    max-width: 66.666667%; /* Adjust the column width. Example: 66.6% for 8 out of 12 columns */
  }
}

.text-margin {
  margin-left: 40px;
}

.coming-italic {
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 5rem;
    -webkit-text-stroke: 0.05px rgb(12, 11, 11);
    font-style: italic;
    font-family: "Rock Salt", cursive;
}

.btn-primary {
  width: 400px;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  font-size:x-large;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-primary:hover {
  background-color: #edf11a;
  border-color: black;
  color: #1d1c1c;
}
.btn-secondary {
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  font-size: 0.9em;
}
@media (max-width: 768px) {
  /* Ajustează stilurile pentru dispozitive mobile */
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  /* Ajustează stilurile pentru dispozitivele cu ecrane mai mari */
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}



.text-container-mobile {
  margin-top: 100px;
}



@media (min-width: 992px) { 
  .full-height .col-lg-6 {
    flex: 0 0 50%; 
    max-width: 50%;
  }
}

.bg-purple1 {
  background-color: #e1d4ee;
}
.bg-purple2 {
  background-color: #B18DD4;
}


/*Start of OUR STORY page*/

.full-height {
    min-height: 100vh;; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
  }
  
  .full-height .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @media (min-width: 992px) { 
    .full-height .col-lg-6 {
      flex: 0 0 50%; 
      max-width: 50%;
    }
  }
  .full-height video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  

  .scroll-down {
    font-family: "Rock Salt", cursive;
    color: red;
    margin-top: 100px;
  }

  .container-first {
    margin-bottom: -66px;
  }
  .carousel-slide {
    margin-right: -15px;
    margin-left: -70px;
  }

  .background2 {
    background-color: #1d1c1c;
  }
  .our-story-heading-text {
    color: white;
    margin-top: 200px;
  }
  .our-story-text-heading {
    font-family: "New Rocker", system-ui;
    font-size: 100px;
    margin-top: 50px;
    color: white;
  }
  
  .bg-custom-purple {
    background-color: #B18DD4;
    margin-bottom: -20px;
  }
  .bg-custom-grey {
    background-color: #1d1c1c;
  }
  
  .our-story-heading-text-button{
    background-color: #c84141 !important; 
    color: white;
    font-family: "Rock Salt", cursive;
  }
  .our-story-heading-text-button:hover {
    background-color: #edf11a !important;
  }

.our-story-text-body {
  font-family: "Tauri", sans-serif;
  margin-top: 30px;
  margin-bottom: 100px;
}

.navbar-light .navbar-nav .nav-link {
  color: #edf11a !important;
  font-family: "MedievalSharp", cursive;
}

.container-our-vision {
  padding: 100px;
}
.vision-title {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  position: relative; 
  color: white
;

}
.vision-text {
  font-family: "Rock Salt", cursive;
  font-weight: 600;
  font-size:xx-large;
  font-style: normal;
  color: #B18DD4;
  margin-top: 80px;
  position: relative; 
}

.our-values-title {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  position: relative; 
  margin-bottom: 50px;
  margin-top: 50px;
  color: white;
}

.click-buttons {
  font-family: "Rock Salt", cursive;
    color: #edf11a;
}
/* popover */

.container-popover {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

/* Butonul standard roșu */
.btn-danger:hover {
  background-color: #edf11a; 
  color: #1d1c1c;
}

.popover-body-red {
  background-color: #e17777 !important; /* Culoarea pentru fundalul roșu */
  font-family: "Tauri", sans-serif;
}
.popover-body {
  background-color: #e17777 !important; /* Ajustează aceasta conform nevoilor tale */
}

/*About Us carousel*/
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-inner {
  height: 500px; 
  margin-bottom: 80px;
}

.carousel-item {
  height: 100%;
}

/* Start of Corporate page */

.corporate-heading {
  margin-top: 100px;
  font-family: "MedievalSharp", cursive;
}

.text-decoration-none {
  color: white;
}

.heading-corporate {
  color:#c84141;
  font-family: "MedievalSharp", cursive;
}

.heading-corporate-1 {
  color: #B18DD4;
  font-family: "MedievalSharp", cursive;
}

.nav-link-corporate {
  color: #edf11a;
}

.body-text-corporate {
  color: white !important;
  font-family: "Tauri", sans-serif !important;
}
.table-content a {
  color: white !important;
  font-family: "Tauri", sans-serif !important;
}


.table-content th,
.table-content td {
    background-color: #333; 
    color: white;
}

.table-content th,
.table-content td {
    border: 1px solid #ddd; 
}

.btn-primary-marketing {
  background-color: #c84141;
  border-color: black;
  color: #1d1c1c;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  padding: 10px 80px;
  font-size: medium;
}
.btn-primary-marketing:hover {
  background-color: #edf11a;
  border-color: black;
  color: #1d1c1c;
}

.medieval-sharp-font {
  font-family: "MedievalSharp", cursive;
  margin-top: 20px;
}
.new-rocker-font {
  font-family: "New Rocker", system-ui;
  margin-top: 20px;
}

.rock-salt-font {
  font-family: "Rock Salt", cursive;
  margin-top: 20px;
}

.tauri-font {
  font-family: "Tauri", sans-serif;
  margin-top: 20px;
}
.em-spacing {
  margin-top: 20px;
  color: #B18DD4;
}
.body-accent {
  margin-top: 20px;
  color:#edf11a;
}

  .em-spacing1 {
    margin-top: 40px;
  }
  .bold-marketing {
    font-weight: bold;
  }
 
  .heading-appendix {
    color:#c84141;
  font-family: "MedievalSharp", cursive;
  margin-top: 50px;
  text-align: center;
  }
 
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }