/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

.footer {
    background-color: #1d1c1c; 
    color: #c84141; 
}
.footer-a {
    color: yellow; 
}
.footer-a:hover {
    color: yellow; 
}

.navbar {
    background-color: rgb(30, 30, 30) !important; 
}

.navbar-brand, .navbar-nav .nav-link {
    color: rgb(186, 184, 184) !important; 
}

/* For the dropdown menu, if you want that in black as well */
.navbar .dropdown-menu {
    background-color: black;
}

.navbar .dropdown-item {
    color: white;
}
  
.background {
  background-image: url('../images/background5.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .img-fluid {
      max-width: 50%; /* sau orice altă dimensiune care arată bine pe dispozitivele mobile */
    }
  }
  
@font-face {
    font-family: 'amazdoomright'; 
    src: url('/fonts/amazdoomright.ttf') format('truetype'); 
}

.coming-italic {
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 100px;
    -webkit-text-stroke: 0.05px rgb(175, 172, 172);
    font-style: italic;
    font-family: 'amazdoomright'
}

